html{
    scroll-snap-type: y mandatory;
}

.App{
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}
.app__videos{
    position: relative;
    height: 600px;
    border-radius: 20px;
    overflow: scroll; 
    width: 80%;  
    max-width: 400px;
    scroll-snap-type: y mandatory;
}
.app__videos::-webkit-scrollbar {
    display: none;
}
.app__videos{
    -ms-overfloww-style: none;
    scrollbar-width: none;
}